html {
    scroll-behavior: smooth; 
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Gupter', serif;
    font-weight: 500;
    font-style: normal;
    background-color: #1a1a1a; /* Fondo gris muy oscuro para diferenciarse del negro puro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px 0;
    border-bottom: #d4af37 3px solid; /* Borde dorado */
}

.superior-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-title {
    display: flex;
    align-items: center;
}

/* Estilo del logo */
.logo {
    width: 6rem; /* Ajusta el tamaño del logo según sea necesario */
    height: auto; /* Mantén la proporción del logo */
    margin-right: 1rem; /* Espacio entre el logo y el texto */
}


/* Estilo del texto Aureza */
.aureza-text {
    font-family: 'Explora', serif;
    font-size: 6rem;
    color: #d4af37;
    text-shadow: 0 0 2.6rem #FFD700;
    margin-left: 2rem;
    margin-top: -0.1rem;
    margin-bottom: 0.9rem;
    padding: 0;
}
/* Eliminando los estilos predeterminados de los enlaces */
a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* El color del enlace será el mismo que el del texto circundante */
}

a:visited {
    color: inherit; /* Mantiene el color del enlace después de ser visitado */
}

a:hover, a:focus, a:active {
    text-decoration: none; /* Elimina el subrayado al interactuar con el enlace */
    color: inherit; /* Mantiene el color del enlace */
}

#cart-items {
    
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff; /* Texto blanco */
}

.cart-item {
    background-color: #1a1a1a; /* Fondo gris oscuro para cada item del carrito */
    color: #fff; /* Texto blanco */

    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item h3 {
    margin: 0;
    font-size: 1.5rem;
}

.cart-item p {
    margin: 0;
    font-size: 1rem;
}

.quantity {
    font-weight: bold;
    color: #d4af37; /* Color dorado para la cantidad */
}

button {
    background-color: #d4af37; /* Color dorado para los botones */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    padding: 0.6rem 0.9rem;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b89c2e; /* Color dorado más oscuro al pasar el ratón */
}

button:disabled {
    background-color: #777; /* Color gris para botones deshabilitados */
    cursor: not-allowed;
}

/* Añadir espaciado entre el carrito y el footer */
.container {
    margin-bottom: 60px;
}

/* Estilo para el botón flotante */
.floating-button {
    position: fixed; /* Fijar el botón en la pantalla */
    right: 3rem; /* Espacio desde el borde derecho */
    bottom: 3rem; /* Espacio desde el borde inferior */
    background-color: #d4af37; /* Color de fondo dorado */
    color: #fff; /* Color del texto */
    border-radius: 50%; /* Forma circular */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    display: flex; /* Centra el ícono dentro del botón */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 24px; /* Tamaño del ícono */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.floating-button:hover {
    background-color: #b29b2c; /* Color de fondo al pasar el ratón */
}

.floating-button i {
    margin: 0; /* Sin margen adicional para el ícono */
}

/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(29, 28, 26, 0.8); /* Fondo semitransparente */
}

/* Estilos del contenido del modal */
.modal-content {
    margin: 1.6% auto; 
    padding: 20px;
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 900px; /* Ancho máximo */
    color: #fff; 
    border-radius: 10px; 
    background-color: rgba(29, 28, 26, 1); /* Fondo sólido */
    position: relative; /* Necesario para posicionar el logo */
}

/* Encabezado del modal */
.modal-header {
    display: flex;
    justify-content: space-between; /* Espacio entre título y logo */
    align-items: center;
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.modal-header h2 {
    margin: 0;
    color: #d4af37; /* Color dorado para el título */
}

.logo {
    height: 60px; /* Ajusta el tamaño del logo */
    width: auto; /* Mantiene la proporción del logo */
}

/* Estilos del botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Ajustes para el contenido del modal */
.modal-content h3 {
    color: #d4af37;
}

.modal-content a {
    color: #aa6cd3; 
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;

}
footer {
    background: #000; 
    color: #fff;
    padding: 20px 0;
    margin-top: 30px;
    border-top: #d4af37 3px solid;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: left;
}

.footer-section h3 {
    margin-top: 0;
    color: #d4af37; /* Color dorado */
    text-shadow: 0 0 1.6rem #FFD700;
}

.footer-section p, .footer-section a {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.6rem 0;
}

.footer-section a:hover {
    text-decoration: underline;
    color: #d4af37; /* Color dorado al pasar el ratón */
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.social-icon {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
}

.social-icon:hover {
    color: #d4af37; /* Color dorado al pasar el ratón */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #d4af37; /* Texto dorado */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item button {
        width: 100%;
        margin-top: 10px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-media {
        margin-top: 20px;
    }

    .footer-bottom {
        margin-top: 30px;
    }
}

@media (max-width: 530px) {
    .aureza-text {
        display: none; /* Oculta el texto "Aureza" en pantallas pequeñas */
    }

    .logo-title {
        justify-content: center; /* Centra el logo cuando desaparece el texto */
        margin-left: 1rem;
    }
    .product-info h2 {
        font-size: 2.6rem; /* Aumenta el tamaño del nombre */
        
    }
}