html {
    scroll-behavior: smooth; 
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Gupter', serif;
    font-weight: 500;
    font-style: normal;
    background-color: #1a1a1a; /* Fondo gris muy oscuro para diferenciarse del negro puro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px 0;
    border-bottom: #d4af37 3px solid; /* Borde dorado */
    position: relative; /* Necesario para la posición absoluta del carrito */
    text-align: center
}

header .container {
    width: 100%; /* Asegura que el contenedor del header ocupe el ancho completo */
    display: flex;
    justify-content: center; /* Centra el contenido dentro del contenedor */
    align-items: center;
}
.logo {
    width: 6rem; /* Ajusta el tamaño del logo */
    height: auto; /* Mantén la proporción del logo */
    vertical-align: middle; /* Alinea verticalmente con el texto */
    margin-right: 2rem; /* Espacio entre el logo y el texto */
    margin-bottom: 1rem;
}
header h1 {
    font-family: 'Explora', serif;
    font-weight: 4rem;
    font-style: normal;
    font-size: 6rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #d4af37; /* Color dorado para el título */
    text-shadow:0 0 2.6rem #FFD700;
}



#cart-icon-bubble {
    position: absolute; /* Fijar el ícono en la página */
    top: 6%; /* Espacio desde el borde superior */
    right: 6%; /* Espacio desde el borde derecho */
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    text-decoration: none;
    color: #fff; /* Color blanco por defecto */
}

.icon-cart {
    width: 40px; /* Tamaño del ícono */
    height: 40px;
}

.cart-count-bubble {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #d4af37; /* Color dorado */
    color: #fff; /* Color blanco para el texto */
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; /* Asegúrate de que el contador esté por encima del ícono */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* Eliminando los estilos predeterminados de los enlaces */
a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* El color del enlace será el mismo que el del texto circundante */
}

a:visited {
    color: inherit; /* Mantiene el color del enlace después de ser visitado */
}

a:hover, a:focus, a:active {
    text-decoration: none; /* Elimina el subrayado al interactuar con el enlace */
    color: inherit; /* Mantiene el color del enlace */
}


#cart-icon {
    position: relative;
    display: inline-block;
}

#cart-icon img {
    width: 40px;
    height: 40px;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #d4af37; /* Color dorado */
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}


section {
    margin: 30px 0;
}

section h2 {
    font-family: 'Gupter', serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: #d4af37; /* Color dorado */
    text-shadow:0 0 5.8rem #FFD700;
}

.plantas h2 {
    text-align: center;
    color: #d4af37; /* Color dorado */
    margin: 6rem 0rem 2rem;
}

.product-content {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    background-color: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    padding: 0; /* Sin padding */
    box-shadow: none; /* Sin sombra */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 80%; /* Limita el ancho máximo del contenedor */
}

.product-detail img {
    max-width: 40rem; /* Ajusta el tamaño de la imagen */
    border-radius: 1%;
    margin: 2rem;
}

.product-info {
    flex: 1; /* Ocupa todo el espacio restante al lado de la imagen */
    color: #fff; /* Texto blanco */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al inicio */
    padding-left: 20px; /* Espacio entre el borde y el texto */
    background-color: transparent; /* Sin fondo */
}

.product-info h2 {
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
    font-family: 'Gupter', serif;
    font-weight: 600;
    font-size: 3.6rem; /* Aumenta el tamaño del nombre */
    color: #d4af37; /* Color dorado */
    text-shadow: 0 0 5.8rem #FFD700;
    
}


.product-info p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}
.product-info .precio {
    color:#d4af37 ;
    font-size: 1.2rem;
}
.product-info p strong {
    color: #d4af37; 
    font-size: 1.4rem;
}

.add-to-cart {
    background-color: #d4af37; /* Color dorado */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 1%;
    padding: 1rem 1rem;
    font-size: 16px;
    font-family: 'Gupter', serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 1.5rem;
}

.add-to-cart:hover {
    background-color: #b29b2c; /* Un dorado más oscuro al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el botón */
}

#recommended-products {
    margin-top: 2rem;
;
}

#recommended-products h2 {
    text-align: center;
    margin: 5rem 0 2.6rem ;
    font-size: 24px;
    padding: 3rem ;
    border-top: 0.06rem solid #b29b2c 
}


.recommended-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommended-item {
    width: 30%;
    box-sizing: border-box;
    text-align:center;
    margin-bottom: 1rem;
}

.recommended-item img {
    width: 50%;
    height: auto;
    border-radius: 1%;
    color:#fff ;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.recommended-item:hover img {
    transform: scale(1.05); /* Escala la imagen ligeramente al pasar el ratón */
    transition: transform 0.6s ease; /* Mantiene la transición suave */
}

.product-name {
    font-size: 18px;
    color: #d4af37;
    margin: 1.6rem 0 -0.6rem;
    font-family: 'Gupter', sans-serif;
    
    
}

.product-price {
    font-size: 16px;
    color: #fff;
    
}
.product-price:hover {
    font-size: 16px;
    color: #d4af37;
    text-decoration: dashed solid;
}

/* Estilo para el botón flotante */
.floating-button {
    position: fixed; /* Fijar el botón en la pantalla */
    right: 3rem; /* Espacio desde el borde derecho */
    bottom: 3rem; /* Espacio desde el borde inferior */
    background-color: #d4af37; /* Color de fondo dorado */
    color: #fff; /* Color del texto */
    border-radius: 50%; /* Forma circular */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    display: flex; /* Centra el ícono dentro del botón */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-size: 24px; /* Tamaño del ícono */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.floating-button:hover {
    background-color: #b29b2c; /* Color de fondo al pasar el ratón */
}

.floating-button i {
    margin: 0; /* Sin margen adicional para el ícono */
}



/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(29, 28, 26, 0.8); /* Fondo semitransparente */
}

/* Estilos del contenido del modal */
.modal-content {
    margin: 1.6% auto; 
    padding: 20px;
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 900px; /* Ancho máximo */
    color: #fff; 
    border-radius: 10px; 
    background-color: rgba(29, 28, 26, 1); /* Fondo sólido */
    position: relative; /* Necesario para posicionar el logo */
}

/* Encabezado del modal */
.modal-header {
    display: flex;
    justify-content: space-between; /* Espacio entre título y logo */
    align-items: center;
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.modal-header h2 {
    margin: 0;
    color: #d4af37; /* Color dorado para el título */
}

.logo {
    height: 60px; /* Ajusta el tamaño del logo */
    width: auto; /* Mantiene la proporción del logo */
}

/* Estilos del botón de cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Ajustes para el contenido del modal */
.modal-content h3 {
    color: #d4af37;
}

.modal-content a {
    color: #aa6cd3; 
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;

}

footer {
    background: #000; 
    color: #fff;
    padding: 20px 0;
    margin-top: 30px;
    border-top: #d4af37 3px solid;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction:column; 
    align-items:center; 
    text-align:left;
}

.footer-section h3 {
    margin-top: 0;
    color: #d4af37; /* Color dorado */
    text-shadow:0 0 1.6rem #FFD700;
}

.footer-section p, .footer-section a {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.6rem 0;
}

.footer-section a:hover {
    text-decoration: underline;
    color: #d4af37; /* Color dorado al pasar el ratón */
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.social-icon {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
}

.social-icon:hover {
    color: #d4af37; /* Color dorado al pasar el ratón */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #d4af37; /* Texto dorado */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 1024px) {
    .product-detail img {
        max-width: 22rem; /* Ajusta el tamaño de la imagen */
        border-radius: 1%;
        margin: 2rem;
    }
}

@media (max-width: 960px) {
    .recommended-item {
        width: 100%; /* Un elemento por fila */
        margin: 0 auto; /* Centro el elemento si hay márgenes laterales */
        padding: 0 1rem; /* Añade un padding interno si es necesario para evitar que el contenido toque los bordes */
    }
    .product-content {
        color: #fff; /* Texto blanco */
        display:list-item;
    }
    .product-detail img {
        max-width: 80%; /* Ajusta el tamaño de la imagen */
        border-radius: 1%;
        margin: 10%;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-media {
        margin-top: 20px;
    }

    .footer-bottom {
        margin-top: 30px;
    }
}


