html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Gupter', serif;
    font-weight: 500;
    font-style: normal;
    background-color: #1a1a1a; /* Fondo gris muy oscuro para diferenciarse del negro puro */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px 0;
    border-bottom: #d4af37 3px solid; /* Borde dorado */
}

header h1 {
    font-family: 'Explora', serif;
    font-weight: 4rem;
    font-style: normal;
    font-size: 6rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #d4af37; /* Color dorado para el título */
    text-shadow:0 0 2.6rem #FFD700;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 0.8rem;
}

nav ul li a {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    padding: 10px;
}
nav ul li :hover {
    color: #d4af37; /* Color dorado para el título */
}

#sobre-nosotros {
    background-color: #000; /* Fondo negro */
    padding: 30px 0;
    border-top: 5px solid #d4af37; /* Línea dorada en la parte superior */
}

.sobre-nosotros-container {
    max-width: 800px;
    margin: 0 auto;
}

.sobre-nosotros h2 {
    text-align: center;
    color: #d4af37; /* Color dorado para el título */
    margin-bottom: 30px;
}

.sobre-nosotros-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.sobre-nosotros-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltar la imagen */
}

#sobre-nosotros p {
    font-size: 18px;
    color: #fff; /* Texto blanco */
    line-height: 1.8;
    margin: 0 3rem;
}

section {
    margin: 30px 0;
}
section.active {
    border: 2px solid #d4af37; /* Borde dorado */
    padding: 20px;
    background-color: #2b2b2b; /* Fondo gris oscuro para la sección activa */
    border-radius: 5px;
    transition: all 0.3s ease;
}

section h2 {
    font-family: 'Gupter', serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: #d4af37; /* Color dorado */
    text-shadow:0 0 5.8rem #FFD700;
}
.plantas h2 {
    text-align: center;
    color: #d4af37; /* Color dorado */
    margin: 6rem 0rem 2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5%;
}

.product {
    padding: 15px;
    border-radius: 1rem;
    text-align: center;
    background-color: #161616; /* Fondo negro */
    box-sizing: border-box;
    position: relative; /* Necesario para el pseudo-elemento */
    overflow: hidden; /* Asegura que el efecto de sombra no sobresalga */
    transition: transform 0.3s ease;
}

.product img {
    width: 100%; /* Mantiene el ancho de la imagen al 100% del contenedor */
    max-height: 20rem; /* Limita la altura de la imagen */
    object-fit: contain; /* Asegura que la imagen completa sea visible dentro del contenedor */
    border-radius: 5px;
    transition: transform 0.3s ease; /* Suaviza la transición en la ampliación */
    display: block;
    margin: auto;
    transform-origin: center center; /* Asegura que la ampliación ocurra desde el centro */
}
.product:hover img {
    transform: scale(1.05); /* Escala la imagen ligeramente al pasar el ratón */
    transition: transform 0.6s ease; /* Mantiene la transición suave */
}

.product h3 {
    margin: 2rem 0 1rem;
    color: #d4af37; /* Color dorado */
}

.product p a {
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold; 
    transition: border-bottom 2s ease;
    
}

.product p a:hover {
    color: #d4af37;
    border-bottom: 2px solid #d4af37;
}



footer {
    background: #000; 
    color: #fff;
    padding: 20px 0;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction:column; 
    align-items:center; 
    text-align:left;
}

.footer-section h3 {
    margin-top: 0;
    color: #d4af37; /* Color dorado */
    text-shadow:0 0 1.6rem #FFD700;
}

.footer-section p, .footer-section a {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.6rem 0;
}

.footer-section a:hover {
    text-decoration: underline;
    color: #d4af37; /* Color dorado al pasar el ratón */
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.social-icon {
    color: #fff; /* Texto blanco */
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
}

.social-icon:hover {
    color: #d4af37; /* Color dorado al pasar el ratón */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #d4af37; /* Texto dorado */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .product img {
        max-height: 25rem;
    }
}

@media (max-width: 768px) {
    .sobre-nosotros-content {
        flex-direction: column;
    }

    .sobre-nosotros-img {
        width: 80%;
    }

    .sobre-nosotros p {
        margin: 0 10px;
    }
    .product-grid {
        grid-template-columns: 1fr;
    }
    .product img {
        max-width: 90%; 
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-media {
        margin-top: 20px;
    }

    .footer-bottom {
        margin-top: 30px;
    }
}