body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #358b32;
    color: #fff;
    padding: 20px 0;
    border-bottom: #558b2f 3px solid;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

section {
    margin: 30px 0;
}

section h2 {
    text-align: center;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5%;
}

.product {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    margin: 10px 0;
    color: #333;
}

.product p {
    color: #666;
}

footer {
    background: #358b32; /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0 15px;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section p, .footer-section a {
    color: #fff; /* Color de texto */
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
    color: #d1e0d1; /* Color de texto al pasar el ratón */
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    display: inline;
    margin-right: 10px;
}

.social-icon {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #fff; /* Color del borde de los iconos */
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
}

.social-icon:hover {
    background-color: #fff; /* Fondo de los iconos al pasar el ratón */
    color: #358b32; /* Color del texto de los iconos al pasar el ratón */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}


/* Ajustes para pantallas más pequeñas */
@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
